# PORTFOLIO BACKEND SERVER ENVIRONMENT CONFIGURATION
PORT=3000
RECEIVER_EMAIL=bharathjai2005@gmail.com

# GMAIL SMTP CREDENTIALS (Required for direct SMTP email delivery)
EMAIL_USER=bharathjai2005@gmail.com
EMAIL_PASS=nacr otst djhl wmhb
